<article>
  <a href={{model.target}}>
    <section class='title'>
      {{model.title}}
    </section>
    <section class='picture'>
      <img src={{model.picture}}>
    </section>
    <section class='description'>
      {{model.description}}
    </section>
  </a>
</article>
