section {
  .portfolio-title {
    float: left;
    width: 100%;
  }
  .content-boxes {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    width: 100%;
  }
}
