$base: #565857;
$color2: #8A8D91;
$color3: #F5D3C8;
$color4: #BCBDC0;
$color5: #B4D2E7;
$box-shadow: #888888;

$base-black: $base;
$font-color: $base;
$content-box-background: $color3;
$background-color: $color4;
$header-color: $color2;
