$base: #565857;
$color2: #8A8D91;
$color3: #8A8D91;
$color4: white;
$color5: #0D1321;
$box-shadow: #888888;

$base-black: $base;
$border-color: $color5;
$font-color: $base;
$content-box-background: $color3;
$background-color: $color4;
$header-color: $color2;
$header-font: 'Neuton';
$content-box-font: 'Neuton';
