article {
  border: 0.25vw solid #586F7C;
  border-radius: 5vw;
  margin: 3vw;
  width: 20vw;
  height: 20vw;
  text-align: center;
  justify-content: center;
  align-content: center;
  padding: 2vw;
  .title {
    font-size: 1.5vw;
    height: 20%;
  }

  .picture {
    img {
      width: 100%;
    }
    height: 60%;
  }

  .description {
    font-size: 1vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 20%;
  }

  a {
    text-decoration: none;
    color: black;
  }
}
