.content-box {
  border: 2px solid $border-color;
  background-color: $content-box-background;
  border-radius: 40px;
  margin: 30px;
  width: 250px;
  height: 250px;
  text-align: center;
  justify-content: center;
  align-content: center;
  padding: 30px;

  &:hover {
    box-shadow: 0 0 3px 3px $box-shadow;
  }
  .title {
    font-weight: bold;
    padding-top: 15px;
    font-size: 20px;
    height: 20%;
  }

  .picture {
    img {
      width: 100%;
      border: 1px solid $border-color;
    }
    height: 60%;
  }

  .description {
    font-size: 12px;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 20%;
  }

  a {
    text-decoration: none;
    color: black;
  }
}
